<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="What's your question?">
  <input type="submit" value="Go on!">
</form>
