// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  background: lightgreen;
}

.info {
  color: blue;
  font-size: 14px;
}

.query {
  font-style: italic;
  font-size: 18px;
}

.answer {
  font-size: 18px;
}
